<h1>Admin::Dashboard#show</h1>
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>
      <%= link_to 'Products', admin_products_path%>
      </th>
      <th>
      <%= link_to 'Categories', :root%>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row">Products</td>
      <td><%= @products_count %></td>
    </tr>
    <tr>
      <td scope="row">Categories</td>
      <td><%= @categories_count %></td>
    </tr>
  </tbody>
</table>
<div class="btn btn-default">
<%= link_to 'Back to Home', :root%>
</div>
